body {
    margin: 0;
    padding-top: .2rem;
    width: 100%;
    height: 100vh;
    background: linear-gradient(172deg, rgba(238, 221, 205, 1) 50%, transparent 50%),
                linear-gradient(8deg, transparent 5%, rgba(227,204,180,255) 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: -1;
    display: none;
  }
  
  
  .main {
    display: flex;
    flex-direction: column;
    height: 100%; 
    top:0;
    width: 100%;
    /* z-index: 1; */
    
  }
  
  .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.75rem;
  }
  .nav-bar .logo {
    width: 20%;
    margin-right: 1rem;
  }
  
  #headerlinks { width: 600px; }
  #headerlinks li { width: 100px; display: inline-block; }
  
  .cart {
    width: 3%;
  }
  
  .person {
    width: 5%;
    border-radius: 50%;
    margin-right: 1rem;
    border: 2px solid #f3b772;
  }
  .auto{
    display: flex;
    flex-direction: row;
    margin-left: 23%;
    margin-top: 1 auto;
    flex: 0.8;
  }
  
  .auto input[type="search"] {
    display: block;
    flex: 0.8;
    margin-left: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    width: fit-content;
    height:38px;
  }
  
  .autocomplete {
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 0;
    list-style: none;
    margin-top: 2px;
    margin-left: 0;
    width: fit-content;
  }
  
  .autocomplete li {
    padding: 4px 8px;
    cursor: pointer;
  }
  
  .autocomplete li:hover {
    background-color: #e9e9e9;
  }
  
  
  button {
    margin-left: 0.5rem;
    border: none;
    width: 100px;
    height: 30px;
    background-color: #f3b772;
    border-radius: 4px;
    margin-right: 1rem;
    margin-top: 0;
  }
  
  button:hover {
    background-color: rgba(246,152,39,255);
  }
  
  button:active {
    background-color: rgba(246,152,39,255);
    box-shadow: 0 5px #f7f5f5;
    transform: translateY(2px);
  }
  .container h1{
    font-size: 5rem;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px rgba(238, 221, 205, 1), 2px 2px 1px rgba(238, 221, 205, 1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .face{
    border: none;
    margin-bottom: -0.5rem;
  }
  .h2 img{
    display: flex;
    gap: 60px;
    width: 60%;
  }
  
  .product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 2em; 
    font-weight: 600;
  }
  
  .product-lists{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px #e5e3e3;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 20px;
    transition: .3s ease-in-out;
  }
  
  .cart small{
    position: absolute;
    right: -10;
    top: -10px;
    text-align: center;
  
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f3b772;
    color: #f3b772;
  }
  
  .product-lists:hover{
    transform: scale(1.02);
  }
  
  .product-list img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
  }
  
  .product-list h3{
    margin-top: .75em;
    display: block;
    color: #f3b772;
    font-size: 1em;
    margin-bottom: .75em;
    padding: .5em;
  }
  
  .product-list>p{
    display: block;
    text-transform: capitalize;
    padding: .5em;
  }
  .fa-solid.fa-bars {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2%;
    transform: translate(-50%, 50%);
    /* z-index: 1; */
  }
  .p{
    display: block;
    padding: .5em;
  }
  
  p>span{
    color: #f3b772;
  }
  
  .product-list button{
    margin: .5em;
    padding: .5em;
    color: black;
  }
  
  #product-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #product-modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
  
  /* #product-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #product-modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */
  
  /* .product-list buttonView{
    margin: .5em;
    padding: .5em;
    color: black;
  } */
  /* .cartButton{
    margin: .5em;
    padding: .5em;
    color: #f3b772;
  } */
  
  /* <img src="${product.image}"/>
          <h3>${product.title}</h3>
          <p>Category: ${product.category}</p>
          <p>Price: $${product.price}</p>
          <button onclick="openProductModal(${product.id})">View Details</button>
          <hr> */
  @media screen and (max-width: 900px) {
    .product-list{
        grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav-bar{
      grid-template-columns: repeat(12, 1fr);
      
  }
    .product-list{
        grid-template-columns: repeat(2, 1fr);
        
    }
  
    .container h1{
        flex-direction: column;
    }
  
    .h2{
        width: 100%;
    }
  }
  
  